@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:900|Arbutus|Changa+One|Chivo:900|Oleo+Script+Swash+Caps:700');

/*font-family: 'Arbutus', cursive;*/
/*font-family: 'Oleo Script Swash Caps', cursive;*/
/*font-family: 'Alegreya SC', serif;*/
/*font-family: 'Changa One', cursive;*/
/*font-family: 'Chivo', sans-serif;*/

body{
    text-align: center;
    background-image: url("wood_back.jpg");
    font-family: 'Alegreya SC', serif;
    cursor:url(donut.png) , auto;
}

h1{
    font-family: 'Arbutus', cursive;
}

#navigation{
    margin: auto;
    align-content: center;
}

#navigation ul {
    text-align: center;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#navigation li {
    text-align: center;
    border: solid;
    border-radius: 1em;
    background-color: white;
    float: left;
}

#navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li a:hover {
    border: solid;
    border-radius: 1em;
    color: white;
    background-color: black;
}

.center {
    margin: 50px auto;
    width: 40%;
    height: 5%;
    border: 60px solid transparent;

    border-image: url(border.png) 50 50 round;
    
}
p{
    float: inherit;
    text-align: center;
    font-size: 150%;
}