@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:900|Arbutus|Changa+One|Chivo:900|Oleo+Script+Swash+Caps:700');

/*font-family: 'Arbutus', cursive;*/
/*font-family: 'Oleo Script Swash Caps', cursive;*/
/*font-family: 'Alegreya SC', serif;*/
/*font-family: 'Changa One', cursive;*/
/*font-family: 'Chivo', sans-serif;*/

body{
    text-align: center;
    background-image: url("wood_back.jpg");
    font-family: 'Alegreya SC', serif;
    cursor:url(donut.png) , auto;

}

h1{
    font-family: 'Arbutus', cursive;
}

#navigation{
    margin: auto;
    align-content: center;
}

#navigation ul {
    text-align: center;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#navigation li {
    text-align: center;
    border: solid;
    border-radius: 1em;
    background-color: white;
    float: left;
}

#navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li a:hover {
    border: solid;
    border-radius: 1em;
    color: white;
    background-color: black;
}

.toggletext {
  display: block;
  float: center;
}

.showHideBlock p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
.showHideLinks {
  margin-bottom: 1em; 
}
h2{
    display: block;
    float: center;
    
    font-size: 100%;
     margin-bottom: 1em; 
     cursor:pointer;
}
h2:hover{
    color:blue;
    text-decoration: underline;
}
/*
#toggleText {
  display: block;
  float: center;
}

#showHideBlock2 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks2 {
  margin-bottom: 1em; 
}
#toggleText2 {
  display: block;
  float: center;
}

#showHideBlock3 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks3 {
  margin-bottom: 1em; 
}
#toggleText3 {
  display: block;
  float: center;
}

#showHideBlock4 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks4 {
  margin-bottom: 1em; 
}
#toggleText4 {
  display: block;
  float: center;
}

#showHideBlock5 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks5 {
  margin-bottom: 1em; 
}
#toggleText5 {
  display: block;
  float: center;
}

#showHideBlock6 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks6 {
  margin-bottom: 1em; 
}
#toggleText6 {
  display: block;
  float: center;
}

#showHideBlock7 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks7 {
  margin-bottom: 1em; 
}
#toggleText7 {
  display: block;
  float: center;
}

#showHideBlock8 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks8 {
  margin-bottom: 1em; 
}
#toggleText8 {
  display: block;
  float: center;
}

#showHideBlock9 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks9 {
  margin-bottom: 1em; 
}
#toggleText9 {
  display: block;
  float: center;
}

#showHideBlock10 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks10 {
  margin-bottom: 1em; 
}
#toggleText10 {
  display: block;
  float: center;
}

#showHideBlock11 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks11 {
  margin-bottom: 1em; 
}
#toggleText11 {
  display: block;
  float: center;
}

#showHideBlock12 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks12 {
  margin-bottom: 1em; 
}
#toggleText12 {
  display: block;
  float: center;
}

#showHideBlock13 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks13 {
  margin-bottom: 1em; 
}
#toggleText13 {
  display: block;
  float: center;
}

#showHideBlock14 p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
#showHideLinks14 {
  margin-bottom: 1em; 
}
#toggleText14 {
  display: block;
  float: center;
}*/

.center {
    margin: 10px auto;
    width: 35%;
    height: 2%;
    border: 60px solid transparent;

    border-image: url(border.png) 50 50 round;
    
}

p{
    float: inherit;
    text-align: center;
    font-size: 150%;
}
img{
    position: static;
    left: 10%;
    width: 5%;
    height: 10%;
}

