@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:900|Arbutus|Changa+One|Chivo:900|Oleo+Script+Swash+Caps:700');

/*font-family: 'Arbutus', cursive;*/
/*font-family: 'Oleo Script Swash Caps', cursive;*/
/*font-family: 'Alegreya SC', serif;*/
/*font-family: 'Changa One', cursive;*/
/*font-family: 'Chivo', sans-serif;*/

body{
    text-align: center;
    background-image: url("wood_back.jpg");
    font-family: 'Alegreya SC', serif;
    /*cursor:url(donut.png) , auto;*/

}
html{
   cursor:url(donut.png) , auto;
}

h1{
    font-family: 'Arbutus', cursive;
}

#navigation{
    margin: auto;
    align-content: center;
}

#navigation ul {
    text-align: center;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#navigation li {
    text-align: center;
    border: solid;
    border-radius: 1em;
    background-color: white;
    float: left;
}

#navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation li a:hover {
    border: solid;
    border-radius: 1em;
    color: white;
    background-color: black;
}

.toggletext {
  display: block;
  float: center;
}

.showHideBlock p {
  margin: 0 0 1em 0; 
  font-size: 100%;
}
.showHideLinks {
  margin-bottom: 1em; 
}
.bottom { /*copied from https://stackoverflow.com/questions/2810262/how-to-stick-text-to-the-bottom-of-the-page */
        position: fixed;
        bottom: 0;
      }
      .value {
  margin: 0 0 0.5em 0;
}
/*.field {
  width: 120px;
  margin: 0 0.5em 0.5em 0;
  float: left;
  clear: left;
  text-align: right;
}*/
textarea:focus {
  background-color: #fee;
}

input:focus {
  background-color: #fee;
}

h2{
    display: block;
    float: center;
    
    font-size: 100%;
     margin-bottom: 1em; 
     cursor:pointer;
}
h2:hover{
    color:blue;
    text-decoration: underline;
}


.center {
    margin: 10px auto;
    width: 35%;
    height: 2%;
    border: 60px solid transparent;

    border-image: url(border.png) 50 50 round;
    
}
.small{
  font-size:10%;
}



p{
    float: inherit;
    text-align: center;
    font-size: 150%;
}
img{
    position: static;
    left: 10%;
    width: 5%;
    height: 10%;
}